<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Form</title>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/adminMakeStock.css" />
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <form action="/Matcom@Stock123456Admin/test11" method="POST">
          <h1>Give Stock</h1>

          <fieldset>
            <legend><span class="number">1</span> Stock Info</legend>

            <label for="quantity">Quantity</label>
            <input type="number" id="name" name="quantity" />

            <label for="stockNum">Stock Number:</label>
            <input type="number" id="mail" name="stockNum" />

            <label for="user">Mail-id</label>
            <input type="text" id="mail" name="user" />
          </fieldset>

          <button type="submit">Give Stock</button>
        </form>
      </div>
    </div>
  </body>
</html>
