<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="leader.css" />
    <title>LeaderBoard</title>
  </head>
  <body>
    <header class="section section--header">
      <div class="section__inner">
        <h1 class="page-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            role="presentation"
            width="250"
            height="128"
            viewBox="0 0 155 77"
          >
            <g letter-spacing="0" word-spacing="0">
              <text x="-.642" y="61.663" font-size="25.703">
                <tspan
                  x="-.642"
                  y="61.663"
                  font-weight="bold"
                  font-family="Roboto Slab"
                >
                  EXCHANGE
                  <tspan font-weight="300"></tspan>
                </tspan>
              </text>
              <text
                y="19.83"
                x=".367"
                font-weight="bold"
                font-size="27.11"
                font-family="Roboto Slab"
              >
                <tspan y="19.83" x=".367">BSC</tspan>
              </text>
              <text x=".046" y="76.233" font-size="12.648">
                <tspan
                  x=".046"
                  y="76.233"
                  font-weight="300"
                  font-family="Roboto Slab"
                >
                  LIVE LEADERBOARD
                </tspan>
              </text>
            </g>
          </svg>
        </h1>
        <div class="illustration">
          <svg
            xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="429.67"
            height="330.45"
            viewBox="0 0 429.66898 330.4526"
          >
            <defs>
              <linearGradient
                xlink:href="#a"
                id="g"
                gradientUnits="userSpaceOnUse"
                x1="1290.23"
                y1="869.33"
                x2="1508.94"
                y2="869.33"
                gradientTransform="matrix(.8602 0 0 .8602 -885.268 -548.314)"
              />
              <linearGradient id="a" osb:paint="solid">
                <stop offset="0" stop-color="#e64a19" />
              </linearGradient>
              <linearGradient
                xlink:href="#b"
                id="i"
                x1="1446.05"
                y1="554.75"
                x2="1467.33"
                y2="554.75"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(6.718)"
              />
              <linearGradient id="b" osb:paint="solid">
                <stop offset="0" stop-color="#f4511e" />
              </linearGradient>
              <linearGradient
                xlink:href="#c"
                id="v"
                gradientUnits="userSpaceOnUse"
                x1="1290.23"
                y1="869.33"
                x2="1508.94"
                y2="869.33"
                gradientTransform="translate(0 -252.362)"
              />
              <linearGradient id="c" osb:paint="solid">
                <stop offset="0" stop-color="#ff7043" />
              </linearGradient>
              <linearGradient
                xlink:href="#d"
                id="k"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(270.794 -38.044)"
                x1="1335.52"
                y1="699.49"
                x2="1335.52"
                y2="749.05"
              />
              <linearGradient id="d" osb:paint="solid">
                <stop offset="0" stop-color="#ff8a65" />
              </linearGradient>
              <linearGradient
                xlink:href="#e"
                id="l"
                x1="1262.66"
                y1="758.92"
                x2="1295.23"
                y2="758.92"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
              />
              <linearGradient
                id="e"
                osb:paint="solid"
                gradientTransform="translate(657.536 -599.397)"
              >
                <stop offset="0" stop-color="#ffab91" />
              </linearGradient>
              <linearGradient
                xlink:href="#d"
                id="m"
                x1="1246.94"
                y1="762.56"
                x2="1264.69"
                y2="762.56"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
              />
              <linearGradient
                xlink:href="#c"
                id="n"
                x1="1240.44"
                y1="881.69"
                x2="1271.19"
                y2="881.69"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
              />
              <linearGradient
                xlink:href="#e"
                id="o"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -250.243)"
              />
              <linearGradient
                xlink:href="#d"
                id="q"
                gradientUnits="userSpaceOnUse"
                x1="1335.52"
                y1="716.99"
                x2="1335.52"
                y2="782.22"
                gradientTransform="translate(-29.89 -49.226)"
              />
              <linearGradient
                xlink:href="#e"
                id="r"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(176.025 -103.504)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#e"
                id="s"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(279.086 -103.504)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#d"
                id="t"
                x1="1518.53"
                y1="625.66"
                x2="1518.53"
                y2="670.03"
                gradientUnits="userSpaceOnUse"
              />
              <linearGradient
                xlink:href="#e"
                id="u"
                x1="1426.35"
                y1="957.01"
                x2="1552.07"
                y2="957.01"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(.8602 0 0 .8602 -1026.02 -571.078)"
              />
              <linearGradient
                xlink:href="#c"
                id="w"
                x1="1335.52"
                y1="693.14"
                x2="1335.52"
                y2="759.48"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
              />
              <linearGradient
                xlink:href="#e"
                id="x"
                gradientUnits="userSpaceOnUse"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
                gradientTransform="translate(71.294 -315.145)"
              />
              <linearGradient
                xlink:href="#c"
                id="y"
                gradientUnits="userSpaceOnUse"
                x1="1339.19"
                y1="694.71"
                x2="1339.19"
                y2="759.81"
                gradientTransform="translate(75.85 -252.362)"
              />
              <linearGradient
                xlink:href="#e"
                id="z"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(151.507 -308.25)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#e"
                id="A"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(198.944 -253.825)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#e"
                id="B"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(254.426 -152.355)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#e"
                id="C"
                gradientUnits="userSpaceOnUse"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
                gradientTransform="translate(42.75 -250.362)"
              />
              <linearGradient
                xlink:href="#e"
                id="D"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(54.064 -288.9)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#e"
                id="E"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(102.29 -270.528)"
                x1="1244.09"
                y1="729.39"
                x2="1268.09"
                y2="729.39"
              />
              <linearGradient
                xlink:href="#d"
                id="F"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(378.544 -38.044)"
                x1="1335.52"
                y1="699.49"
                x2="1335.52"
                y2="749.05"
              />
              <linearGradient
                xlink:href="#f"
                id="G"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
                gradientUnits="userSpaceOnUse"
              />
              <linearGradient id="f" osb:paint="solid">
                <stop offset="0" stop-color="#bf360c" />
              </linearGradient>
              <linearGradient
                xlink:href="#a"
                id="J"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-343.654 -53.74)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="K"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-384.136 -202.15)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="L"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-328.805 -237.234)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="M"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-224.506 -256.326)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#f"
                id="N"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-175.716 -201.525)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="O"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-120.208 -99.35)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="P"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-42.78 -42.78)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="Q"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(66.468 -41.72)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="T"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-274.71 -219.026)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#a"
                id="U"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-251.2 -219.026)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#c"
                id="j"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
                x1="1290.23"
                y1="869.33"
                x2="1508.94"
                y2="869.33"
              />
              <linearGradient
                xlink:href="#c"
                id="p"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(0 -252.362)"
                x1="1290.23"
                y1="869.33"
                x2="1508.94"
                y2="869.33"
              />
              <linearGradient
                xlink:href="#a"
                id="h"
                gradientUnits="userSpaceOnUse"
                x1="1427.08"
                y1="664.94"
                x2="1441.79"
                y2="664.94"
                gradientTransform="matrix(.8602 0 0 .68717 -1009.856 -361.995)"
              />
              <linearGradient
                xlink:href="#a"
                id="H"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-197.85 -3.182)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
              <linearGradient
                xlink:href="#f"
                id="R"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-204.938 -140.265)"
                x1="1636.38"
                y1="709.31"
                x2="1668.13"
                y2="709.31"
              />
            </defs>
            <g transform="matrix(.8602 0 0 .8602 -524.007 -320.49)">
              <rect
                width="479.56"
                height="59.74"
                x="620.61"
                y="696.99"
                rx="0"
                ry="0"
                fill="#836565"
              />
              <g transform="translate(-619.83 -38.952)">
                <path
                  d="M366 198.28l-6.22 8.6h-26.5v74.98H436.1v-74.83h.03l-.03-.04v-.13h-.1l-6.2-8.6-6.2 8.6h-3.54l-6.2-8.6-6.22 8.6h-3.54l-6.2-8.6-6.2 8.6h-3.55l-6.2-8.6-6.22 8.6h-3.53l-6.2-8.6z"
                  transform="matrix(1.16252 0 0 1.16252 1192.77 411.53)"
                  fill="url(#g)"
                />
                <path
                  d="M207.1 90.55l-6.2 8.6h-39.48v93.58h102.82v-93.6h-.13l-6.2-8.58-6.2 8.6h-4.52l-6.2-8.6-6.22 8.6h-4.5l-6.22-8.6-6.2 8.6h-4.52l-6.2-8.6z"
                  transform="matrix(1.16252 0 0 1.16252 1192.77 411.53)"
                  fill="url(#h)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="476.63"
                  x="1452.77"
                  height="156.25"
                  width="21.28"
                  fill="url(#i)"
                />
                <rect
                  width="174.35"
                  height="113.64"
                  x="1416.58"
                  y="625.56"
                  rx="0"
                  ry="0"
                  fill="url(#j)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="630.17"
                  x="1581.17"
                  height="108.8"
                  width="30.37"
                  fill="url(#k)"
                />
                <path
                  d="M1262.66 494.73h32.57v23.65c-9.74-14.77-23.38-14.85-32.57 0z"
                  fill="url(#l)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="478.7"
                  x="1246.94"
                  height="62.99"
                  width="17.75"
                  fill="url(#m)"
                />
                <rect
                  width="30.75"
                  height="213.24"
                  x="1240.44"
                  y="522.7"
                  rx="0"
                  ry="0"
                  fill="url(#n)"
                />
                <rect
                  width="24"
                  height="5.44"
                  x="1244.09"
                  y="476.43"
                  rx="2.72"
                  ry="2.72"
                  fill="url(#o)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="478.65"
                  x="1290.23"
                  height="260.54"
                  width="136.12"
                  fill="url(#p)"
                />
                <rect
                  width="30.37"
                  height="120.01"
                  x="1280.49"
                  y="618.98"
                  rx="0"
                  ry="0"
                  fill="url(#q)"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="602.28"
                  x="1275.55"
                  height="21.38"
                  width="40.24"
                  fill="url(#e)"
                />
                <rect
                  width="87.04"
                  height="5.31"
                  x="1423.9"
                  y="623.3"
                  rx="2.72"
                  ry="2.66"
                  fill="url(#r)"
                />
                <rect
                  ry="2.66"
                  rx="2.72"
                  y="623.3"
                  x="1526.96"
                  height="5.31"
                  width="53.17"
                  fill="url(#s)"
                />
                <rect
                  width="21.28"
                  height="93.28"
                  x="1508.25"
                  y="578.1"
                  rx="0"
                  ry="0"
                  fill="url(#t)"
                />
                <path
                  d="M207.25 213.8l-6.22 8.62h-.1V281.87h108.14V222.4h-.1l-6.23-8.6-6.22 8.6h-3.48l-6.22-8.6-6.2 8.6h-3.5l-6.2-8.6-6.23 8.6h-3.5l-6.2-8.6-6.22 8.6h-3.48l-6.22-8.6-6.22 8.6h-3.48l-6.22-8.6-6.2 8.6h-3.5l-6.2-8.6z"
                  transform="matrix(1.16252 0 0 1.16252 1192.77 411.53)"
                  fill="url(#u)"
                />
                <rect
                  width="125.12"
                  height="105.14"
                  x="1301.22"
                  y="440.08"
                  rx="0"
                  ry="0"
                  fill="url(#v)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="415.85"
                  x="1315.39"
                  height="94.58"
                  width="35.05"
                  fill="url(#w)"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="411.53"
                  x="1311.47"
                  height="5.44"
                  width="42.82"
                  fill="url(#x)"
                />
                <rect
                  width="24.99"
                  height="87.31"
                  x="1401.3"
                  y="423.12"
                  rx="0"
                  ry="0"
                  fill="url(#y)"
                />
                <rect
                  width="32.67"
                  height="5.44"
                  x="1397.46"
                  y="418.42"
                  rx="2.72"
                  ry="2.72"
                  fill="url(#z)"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="472.85"
                  x="1449.25"
                  height="5.44"
                  width="28.32"
                  fill="url(#A)"
                />
                <rect
                  width="28.32"
                  height="5.44"
                  x="1504.73"
                  y="574.32"
                  rx="2.72"
                  ry="2.72"
                  fill="url(#B)"
                />
                <rect
                  width="40.24"
                  height="20.94"
                  x="1576.24"
                  y="614.24"
                  rx="2.72"
                  ry="2.72"
                  fill="url(#e)"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="476.31"
                  x="1286.84"
                  height="5.44"
                  width="24"
                  fill="url(#C)"
                />
                <rect
                  width="24"
                  height="5.44"
                  x="1298.16"
                  y="437.78"
                  rx="2.72"
                  ry="2.72"
                  fill="url(#D)"
                />
                <rect
                  ry="0"
                  rx="0"
                  y="440.06"
                  x="1350.45"
                  height="18.54"
                  width="50.92"
                  fill="#f4511e"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="456.15"
                  x="1346.38"
                  height="5.44"
                  width="59.36"
                  fill="url(#E)"
                />
                <rect
                  width="30.37"
                  height="108.98"
                  x="1688.92"
                  y="630.17"
                  rx="0"
                  ry="0"
                  fill="url(#F)"
                />
                <rect
                  ry="2.72"
                  rx="2.72"
                  y="614.24"
                  x="1683.99"
                  height="20.94"
                  width="40.24"
                  fill="url(#e)"
                />
                <path fill="url(#G)" d="M1636.38 685.63h31.75v53.5h-31.75z" />
                <rect
                  y="682.45"
                  x="1438.52"
                  height="20.62"
                  width="5.41"
                  id="I"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#H)"
                  stroke-linecap="round"
                />
                <use
                  xlink:href="#I"
                  transform="translate(24.438)"
                  width="100%"
                  height="100%"
                />
                <use
                  xlink:href="#I"
                  transform="translate(72.067)"
                  width="100%"
                  height="100%"
                />
                <use
                  height="100%"
                  width="100%"
                  transform="translate(96.504)"
                  xlink:href="#I"
                />
                <rect
                  width="5.41"
                  height="20.62"
                  x="1292.72"
                  y="631.89"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#J)"
                />
                <rect
                  y="487.1"
                  x="1252.24"
                  height="7.18"
                  width="6.91"
                  rx="3.46"
                  ry="3.46"
                  fill="url(#K)"
                />
                <rect
                  y="448.39"
                  x="1307.57"
                  height="20.62"
                  width="5.41"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#L)"
                />
                <rect
                  width="5.41"
                  height="20.62"
                  x="1411.87"
                  y="429.3"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#M)"
                />
                <rect
                  y="484.1"
                  x="1460.66"
                  height="20.62"
                  width="5.41"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#N)"
                />
                <rect
                  y="586.28"
                  x="1516.17"
                  height="20.62"
                  width="5.41"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#O)"
                />
                <rect
                  width="5.41"
                  height="20.62"
                  x="1593.6"
                  y="642.85"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#P)"
                />
                <rect
                  y="643.91"
                  x="1702.84"
                  height="20.62"
                  width="5.41"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#Q)"
                />
                <rect
                  id="S"
                  width="5.41"
                  height="61.15"
                  x="1431.44"
                  y="535.24"
                  rx="2.49"
                  ry="2.71"
                  fill="url(#R)"
                  stroke-linecap="round"
                />
                <use
                  xlink:href="#S"
                  transform="translate(47.435)"
                  width="100%"
                  height="100%"
                />
                <use
                  height="100%"
                  width="100%"
                  transform="translate(58.336)"
                  xlink:href="#S"
                />
                <use
                  height="100%"
                  width="100%"
                  transform="translate(10.724)"
                  xlink:href="#S"
                />
                <rect
                  ry="2.71"
                  rx="2.71"
                  width="5.41"
                  height="20.62"
                  x="1361.66"
                  y="466.6"
                  fill="url(#T)"
                />
                <rect
                  y="466.6"
                  x="1385.18"
                  height="20.62"
                  width="5.41"
                  rx="2.71"
                  ry="2.71"
                  fill="url(#U)"
                />
              </g>
              <rect
                ry="9.75"
                rx="9.75"
                y="693.05"
                x="609.17"
                height="19.5"
                width="499.5"
                fill="#f4511e"
              />
              <rect
                id="V"
                width="44.38"
                height="7.86"
                x="631.22"
                y="721.79"
                rx="3.93"
                ry="3.93"
                fill="#6f5858"
                stroke-linecap="round"
              />
              <use
                height="100%"
                width="100%"
                transform="translate(25.878 15.66)"
                xlink:href="#V"
              />
              <use
                xlink:href="#V"
                transform="translate(267.922 6.282)"
                width="100%"
                height="100%"
              />
              <use
                height="100%"
                width="100%"
                transform="translate(176.907 24.872)"
                xlink:href="#V"
              />
              <use
                xlink:href="#V"
                transform="translate(144.78 10.7)"
                width="100%"
                height="100%"
              />
              <use
                height="100%"
                width="100%"
                transform="translate(305.268 20.274)"
                xlink:href="#V"
              />
              <use
                xlink:href="#V"
                transform="translate(411.697 22.863)"
                width="100%"
                height="100%"
              />
              <use
                height="100%"
                width="100%"
                transform="translate(334.39 5.928)"
                xlink:href="#V"
              />
            </g>
          </svg>
        </div>
      </div>
    </header>
    <section class="section section--results">
      <div class="section__inner">
        <div class="candidate">
          <%for(let i=0; i<data.length;i++) {%>
          <div class="candidate__name"># <%= i+1%> <%=data[i].name%></div>
<%if(score){%>
          <div class="candidate__description"><%=data[i].totalAmount%></div>
          <hr />
         <%} else {%>
          <div class="candidate__description">########$$$$$$</div>
          <% }}%>
        </div>
      </div>
    </section>
    <!-- <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="leader.js" defer></script> -->

    <script>

setTimeout(function () {
  window.location.reload();
}, 3000);
    </script>
  </body>
</html>
