<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login2.css" />
    <title>Document</title>
  </head>
  <body>
    <hgroup>
      <h1>BSC EXCHANGE</h1>
      <h3>By TEAM MATCOM</h3>
    </hgroup>
    <form action="/login2" method="POST">
      <div class="group">
        <input type="text" name="password" id="password" /><span
          class="highlight"
        ></span
        ><span class="bar"></span>
        <label>Password</label>
      </div>
      <div class="group">
        <input type="email" name="email" id="email" /><span
          class="highlight"
        ></span
        ><span class="bar"></span>
        <label>Email</label>
      </div>
      <button type="submit" class="button buttonBlue">
        Login
        <div class="ripples buttonRipples">
          <span class="ripplesCircle"></span>
        </div>
      </button>
    </form>
    <footer>
      <a href="http://www.polymer-project.org/" target="_blank"
        ><img src="nithll.png"
      /></a>
      <p>
        Not Registered ?
        <a href="/register" target="_blank">here</a>
      </p>
    </footer>
    <script src="login2.js"></script>
  </body>
</html>
