<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="test.css" />
    <title>Document</title>
  </head>
  <body>
    <canvas id="canvas"> Sorry, no canvas support here :( </canvas>
    <div id="start">START</div>
    <div id="info"></div>
    <div id="info">Powered by the power of Maths,<a href="/login">back</a></div>
    <div id="check">Alright now go back</div>
    <!--      Bezier curve simulator

 - Click "Start to start/stop/restart the animation"
 
 - Double clicking anywhere else will allow you to add new points to the curve.
 
 - Double clicking on a point will remove that point from the curve

 - You can also click and drag points around :)
 

-->

    <script src="test.js"></script>
  </body>
</html>
